body {
    font-family: helvetica;
    line-height: 1.4;
}
div#box1 {
    background: seagreen;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: -400px;
    height: 100%;
    z-index: 4;
}
div#box1 span {
    font-size: 45px;
    color: #fff;
    padding: 20px;
    font-family: helvetica;
}
input[type=submit] {
    cursor: pointer;
}
#wrapper {
    width: 960px;
    margin:0 auto;
    position: relative;
    left: 0px;
}
.left {
    width: 55%;
    float: left;
}
.right {
    width: 40%;
    float: right;
    border-left: 1px solid seagreen;
    padding:0 20px;
}
footer {
    border-top: 1px solid seagreen;
    clear: both;
}
#overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    cursor: pointer;
}